.Main {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.bigContainer {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(207, 207, 207);
}

body .part {
    position: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10%;
    max-width: 125px;
    z-index: 10;
    cursor: pointer;
}

body div .text {
    margin-top: 10px;
    font-size: larger;
    text-align: center;
    font-weight: bold;
}

body .codeDiv {
    color: white;
}

.codeDesign {
    position: absolute;
    z-index: 10; 
    height: 100%;
    width: 60%;
    right: -60px;
    animation-name: topToDown;
    animation-duration: 80s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    opacity: 0%;
    object-fit: cover;
}

@keyframes topToDown {
    0% {top: -50%;}
    50% {top: 50%;}
    100% {top: -50%;}
}

.animationBackground {
    position: absolute;
    background-color: rgb(37, 37, 37);
    width: 100%;
    height: 100%;
    left: -50%;
    top: 0;
    z-index: 1;
    transform: skew(-8deg, 0deg);
}

.bigBackground {
    position: absolute;
    background: linear-gradient(0deg, rgba(32,32,32,1) 0%, rgba(0,0,0,1) 100%);
    width: 100%;
    height: 100%;
    z-index: 5;
    opacity: 0%;
}

.codeLogoBorder, .designLogoBorder {
    transform-origin: center;
    transform: rotate(0deg);
}

.theDesignDesign{
    position: absolute;
    width: 100%;
    height: auto;
    transform-origin: center;
    left: -50%;
    animation-name: rotationForPaths;
    animation-duration: 40s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    opacity: 0%;
    object-fit: cover;
    z-index: 10;
}

.theCodeSvg {
    filter: drop-shadow(0px 0px  0px rgba(255, 255, 255, 0));
    transition: 2s;
}
.theCodeSvg:hover {
    filter: drop-shadow(0px 0px 25px #5fffd7c7);
}
.theDesignSvg {
    filter: drop-shadow(0px 0px  0px rgba(0, 0, 0, 0));
    transition: 2s;
}
.theDesignSvg:hover {
    filter: drop-shadow(0px 0px 25px #ff46e6);
}

@keyframes rotationForPaths {
    0% {transform: rotateZ(0deg);}
    100% {transform: rotateZ(360deg);}
}

.logo {
    position: absolute;
    /* width: 50px; */
    height: 50px;
    top: 20px;
    left: 20px;
    z-index: 10;
}

.secondBigContainer {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10;
    justify-content: space-around;
    align-items: center;
    perspective: 1000px;
}

.codeDescription  {
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: flex-end;
    filter: blur(50px);
    transform: rotateY(-50deg);
    transform-origin: left;
    opacity: 0.0;
    right: 33%;
    top: 50%;
    padding: 0 7.5%;
    padding-left: 0;
    font-size: 75px;
}

.codeDescription .description {
    background: -webkit-linear-gradient(45deg,rgb(66, 66, 66), white);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: right;
}

.codeDescription .buttons {
    display: flex;
    margin-top: 15px;
    height: 50px;
    justify-content: flex-end;
}

.codeDescription .button {
    position: relative;
    perspective: 1000px;
    font-size: 20px;
}

.codeDescription .button svg {
    height: 100%;
    width: 100%;
    transform-origin: left;
}

.designDescription  {
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    filter: blur(50px);
    transform: rotateY(50deg);
    transform-origin: right;
    opacity: 0.0;
    left: 33%;
    top: 50%;
    padding: 0 7.5%;
    padding-right: 0;
    font-size: 75px;
}

.designDescription .description {
    background: -webkit-linear-gradient(45deg, black, rgb(192, 192, 192));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.designDescription .buttons {
    display: flex;
    margin-top: 30px;
    height: 50px;
    justify-content: flex-start;
}

.designDescription .button {
    position: relative;
    perspective: 1000px;
    font-size: 20px;
}

.designDescription .button .buttonText {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 0;
    font-size: 100%;
    align-items: center;
    justify-content: center;
    background: -webkit-linear-gradient(45deg, rgb(90, 90, 90), rgb(0, 0, 0));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

.codeDescription .button .buttonText {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 0;
    font-size: 100%;
    align-items: center;
    justify-content: center;
    background: -webkit-linear-gradient(45deg, rgb(77, 77, 77), rgb(255, 255, 255));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

.designDescription .button svg {
    height: 100%;
    width: 100%;
    transform-origin: right;
}

.back_button_design {
    cursor: pointer;
    transition: 0.3s;
    transform: rotateY(180deg);
    filter: drop-shadow(0px 0px  5px #f58ae700);
}

.back_button_design:hover {
    filter: drop-shadow(-5px 5px  5px #ff46e6);
}

.designButton {
    cursor: pointer;
    transition: 0.3s;
    filter: drop-shadow(0px 0px 5px #f58ae700);
}

.designButton:hover {
    filter: drop-shadow(5px 5px  5px #ff46e6);
}

.back_button_code {
    cursor: pointer;
    transition: 0.3s;
    filter: drop-shadow(0px 0px 5px #5fffd700);
}

.back_button_code:hover {
    filter: drop-shadow(5px 5px 5px #5fffd7);
}

.codeButton {
    cursor: pointer;
    transition: 0.3s;
    filter: drop-shadow(0px 0px 5px #5fffd700);
}

.codeButton:hover {
    filter: drop-shadow(5px 5px 5px #5fffd7);
}

.languageIcon {
    transition: 1000ms;
}

/* ///////////// */
/* Media Queries */
/* ///////////// */
@media (max-aspect-ratio: 1/1) {
    body .part {
        /* width: 75px; */
        width: 20%;
        max-width: 100px;
    }
    .bigContainer {
        flex-direction: column;
    }
    .animationBackground {
        left: 0;
        top: -50%;
        transform: skew(0deg, -8deg);
    }
    .codeDescription  {
        right: 50%;
        top: 66%;
        padding: 5%;
        width: 80%;
    }
    .designDescription  {
        left: 50%;
        top: 33%;
        padding: 5%;
        width: 80%;
    }
    .languageIcon {
        filter: invert(1);
    }
}

@media screen and (max-width: 750px) {
    .codeDescription {
        font-size: 40px;
    }
    .codeDescription .buttons {
        height: 40px;
    }
    .designDescription {
        font-size: 40px;
    }
    .designDescription .buttons {
        height: 40px;
    }
    .logo {
        width: 40px;
    }
    .designDescription .button .buttonText {
        font-size: 80%;
    }
    .codeDescription .button .buttonText {
        font-size: 80%;
    }
}

@media screen and (max-width: 366px) {
    .codeDescription {
        font-size: 30px;
    }
    .codeDescription .buttons {
        height: 30px;
    }
    .designDescription {
        font-size: 30px;
    }
    .designDescription .buttons {
        height: 30px;
    }
    .logo {
        width: 30px;
    }
    .designDescription .button .buttonText {
        font-size: 65%;
    }
    .codeDescription .button .buttonText {
        font-size: 65%;
    }
}