/* /////////////////////////// */
/* only global rules are added here */
/* /////////////////////////// */

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');

* {
  font-family: 'Source Code Pro', 'Cairo', Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: overlay;
}

body::-webkit-scrollbar-track
{
	/* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
	background-color: #ff000000;
}

body::-webkit-scrollbar
{
	width: 10px;
	background-color: #00000013;
}

body::-webkit-scrollbar-thumb
{
	background-color: #79797975;
	/* border: 1px solid #7c7c7c; */
  border-radius: 10px;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
}